.addIngredient {
  display: grid;
  width: 100%;
  grid-template-columns: calc(100% - 103px) 100px;
  grid-template-rows: auto auto;
  margin-block-end: 30px;
}

.addIngredient__input {
  min-width: 100%;
  padding: 20px 15px;
  background: #020122;
  color: #eedad0;
  font-size: bold;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
.addIngredient__input::placeholder {
  opacity: 0.93;
  color: #eedad0;
  font-weight: bold;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
.addIngredient__input::-webkit-scrollbar {
  display: none;
}
.addIngredient__btnAdd {
  color: #eedad0;
  font-weight: bold;
  font-size: 1.2em;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  max-width: 130px;
  justify-self: end;
  padding: 10px 20px;
}

.addIngredient__selectInfo {
  grid-column: span 2;
  background: #fc9e4f;
  position: relative;
}

/* TODO: editar */
.selectInfo__configPrompt {
  display: flex;
  overflow-x: scroll;
  padding: 20px 10px;
  gap: 10px;
}
.selectInfo__configPrompt::-webkit-scrollbar {
  display: none;
}

.configPrompt__ingredients {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  flex-wrap: wrap;
  gap: 15px 10px;
}
/* TODO: terminar de editar */
.ingredients__option {
  background: #eedad0;
  color: #020122;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.option__inputRadio {
  --size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--size);
  height: var(--size);
  border: 2px solid #3891a6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0;
  transition: 0.5s background;
  -webkit-transition: 0.5s background;
  -moz-transition: 0.5s background;
  -ms-transition: 0.5s background;
  -o-transition: 0.5s background;
}

.option__inputRadio:checked {
  background: #3891a6;
}
.selectInfo__scroll {
  width: 80px;
  height: 45px;
  background: red;
  position: absolute;
  bottom: -35px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #eedad0;
}
.scroll__btn {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #fc9e4f;
  border: 3px solid #fc9e4f;
}

.selectInfo__btnDelete {
  --size: 43px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  right: -23px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: red;
  font-weight: bold;
  text-transform: capitalize;
  display: grid;
  justify-content: center;
  align-items: center;
}
